.advantages {
  padding-top: 42px;
  min-height: 1002px;
  background-color: @color-back-grey;
  background-image: linear-gradient(175deg, white 35%, transparent 35%);
  text-align: center;
}

.advantages__text {
  width: 210px;
  margin-bottom: 110px;
  display: inline-block;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: @color-dark-font;
  //text-align: center;

  span {
    display: block;
    margin-top: 30px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  margin-bottom: 35px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  color: @color-black-font;
  //text-align: center;
}

.advantages__description {
  margin: 0;
  //text-align: center;
}

.advantages__effect {
  display: none;
  background-color: @color-back-white;
}

.advantages__effect-title {
  margin: 0;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: @color-black-font;
}

.advantages__effect-description {
  margin: 0;
}

.advantages__effect-more {
  color: @color-pink;
}

@media (min-width: @tablet-width) {
  .advantages {
    min-height: 725px;
    text-align: left;
  }

  .advantages__text {
    margin-bottom: 120px;
    width: 590px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

    span {
      width: 350px;
      margin: 0 auto;
    }
  }

  .advantages__list {
    width: 310px;
    margin-left: 310px;
    text-align: left;
  }

  .advantages__item {
    margin-bottom: 43px;
  }

  .advantages__effect {
    display: block;
    min-height: 387px;
    padding-top: 100px;

    .container {
      margin-left: 310px;
    }

    &-title {
      width: 170px;
      margin-bottom: 10px;
    }

    &-description {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    &__text {
      width: 740px;
      margin: 0 auto 75px;
      font-size: 50px;
      line-height: 50px;

      span {
        width: 450px;
      }
    }

    &__title {
      font-size: 30px;
      line-height: 30px;
      text-align: center;
    }

    &__description {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }

    &__list {
      width: 100%;
      margin-left: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__item {
      width: 240px;
      padding-top: 360px;
    }

    &__effect {
      background-color: @color-back-grey;

      &-title {
        line-height: 30px;
      }

      &-description {
        font-size: 18px;
        line-height: 30px;
      }

      &-more {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}
