.advantages {
  position: relative;
  padding-top: 42px;
  padding-bottom: 280px;
  //min-height: 1002px;
  text-align: center;
  background-color: @color-back-grey;
  background-image: linear-gradient(175deg, white 35%, transparent 35%),
    url("../img/iphone-screen-3-mobile-k.png");
  background-position: bottom;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-3-mobile-k@2x.png");
    background-size: 157px auto;
  }
}

.advantages__text {
  width: 210px;
  margin-bottom: 110px;
  display: inline-block;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: @color-dark-font;
  //text-align: center;

  span {
    display: block;
    margin-top: 30px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  margin-bottom: 35px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 10px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  color: @color-black-font;
  //text-align: center;
}

.advantages__description {
  margin: 0;
  //text-align: center;
}

.advantages__effect {
  display: none;
  background-color: @color-back-white;
}

.advantages__effect-title {
  margin: 0;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 30px;
  line-height: 36px;
  color: @color-black-font;
}

.advantages__effect-description {
  margin: 0;
}

.advantages__effect-more {
  color: @color-pink;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding-bottom: 0;
    min-height: 725px;
    text-align: left;
    background-image: linear-gradient(175deg, white 30%, transparent 30%);
  }

  .advantages__text {
    margin-bottom: 120px;
    width: 590px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;

    span {
      width: 350px;
      margin: 0 auto;
    }
  }

  .advantages__list {
    width: 620px;
    margin: 0 auto;
    padding-top: 105px;
    padding-left: 310px;
    text-align: left;
    background-image: url("../img/iphone-screen-3-tablet.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 268px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet-k@2x.png");
    }
  }

  .advantages__item {
    margin-bottom: 43px;
  }

  .advantages__effect {
    display: block;
    min-height: 387px;

    .container {
      position: relative;
      padding-top: 100px;
      padding-left: 310px;

      &::after {
        content: "24";
        position: absolute;
        top: 115px;
        left: 18px;
        width: 200px;
        height: 200px;
        box-sizing: border-box;
        font-family: "OpenSansBold", "Arial", sans-serif;
        font-size: 96px;
        line-height: 150px;
        text-align: center;
        color: @color-pink;
        border: 20px solid @color-pink;
        border-radius: 50%;
        //background-image: url("../../img/timer-svg.svg");
        //
        //background-position: left top;
      }

      &::before {
        content: "";
        position: absolute;
        top: 59px;
        left: 0;
        width: 238px;
        height: 276px;
        background-image: url("../img/timer-svg.svg");
        background-repeat: no-repeat;
        background-size: 238px 276px;
      }
    }

    &-title {
      width: 170px;
      margin-bottom: 10px;
    }

    &-description {
      margin-bottom: 10px;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @desktop-width) {
  .advantages {
    &__text {
      width: 740px;
      margin: 0 auto 75px;
      font-size: 50px;
      line-height: 50px;

      span {
        width: 450px;
      }
    }

    &__title {
      font-size: 30px;
      line-height: 30px;
      text-align: center;
    }

    &__description {
      font-size: 18px;
      line-height: 30px;
      text-align: center;
    }

    &__list {
      width: 100%;
      margin-left: 0;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      background-image: none;
    }

    &__item {
      position: relative;
      width: 240px;
      padding-top: 360px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 25px;
        width: 186px;
        height: 301px;
        //background-image: url("../../img/iphone-screen-1-copy.png");
        //background-position: center top;
        background-repeat: no-repeat;
        background-size: 186px auto;
        //box-shadow: 0 2px 12px 2px black;
      }

      &--fun::before {
        background-image: url("../img/iphone-screen-1-copy.png");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/iphone-screen-1-copy@2x.png");
        }
      }

      &--change::before {
        background-image: url("../img/iphone-screen-2-copy-3.png");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/iphone-screen-2-copy-3@2x.png");
        }
      }

      &--friend::before {
        background-image: url("../img/iphone-screen-3-copy-2.png");

        @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
          background-image: url("../img/iphone-screen-3-copy-2@2x.png");
        }
      }
    }

    &__effect {
      background-color: @color-back-grey;

      .container {
        padding-left: 365px;
        padding-right: 170px;
      }

      &-title {
        line-height: 30px;
      }

      &-description {
        font-size: 18px;
        line-height: 30px;
      }

      &-more {
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}
