.banner {
  padding-top: 462px;
  margin-top: -66px;
  //max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  background-color: @color-dark-font;
  background-image: url("../img/iphone-5-in-hand-png-1.png"),
    url("../img/back-mobile-jpg.png");
  background-repeat: no-repeat;
  background-position: center 175px, center top;
  background-size: 320px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-5-in-hand-png-1@2x.png");
  }
}

.banner__app {
  width: 100%;
  padding-top: 28px;
  padding-bottom: 29px;
  background-color: @color-dark-font;
  //text-align: center;
}

.banner__list {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  padding-left: 38px;
  padding-right: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.banner__slogan {
  display: none;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 40px;
  line-height: 48px;
  font-weight: 300;
  color: @color-back-white;
  text-align: center;
}

.banner__text {
  margin: 0;
  font-family: "OpenSansLight", "Arial", sans-serif;
  color: @color-back-white;
  text-align: center;
}

.banner__button {
  display: block;
  width: 280px;
  margin-bottom: 31px;
  padding-top: 14px;
  padding-bottom: 17px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: @color-back-white;
  border: 3px solid @color-back-white;
  border-radius: 35px;

  &:hover,
  &:focus {
    background-color: @color-back-white;
    color: @color-pink;
  }

  &:active {
    color: @color-pink-light;
  }
}

.banner__item {
  position: relative;
  display: block;
  width: 47px;
  height: 56px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
  }

  &--apple {
    &::before {
      width: 47px;
      height: 56px;
      background-image: url("../img/apple-logo-svg.svg");
    }
  }

  &--android {
    &::before {
      top: 8px;
      left: 2px;
      width: 43px;
      height: 47px;
      background-image: url("../img/android-logo-svg.svg");
    }
  }

  &--windows {
    &::before {
      top: 12px;
      left: 2px;
      width: 44px;
      height: 41px;
      background-image: url("../img/microsoft-logo-svg.svg");
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @tablet-width) {
  .banner {
    margin-top: -111px;
    padding-top: 185px;
    //padding-bottom: 111px;
    //position: relative;
    background-image: url("../img/back-tablet-1-x.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 1200px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/back-tablet-1-x@2x.png");
    }
  }

  .banner__slogan {
    margin-left: 50px;
    margin-bottom: 30px;
    display: block;
    width: 200px;
  }

  .banner__app {
    padding-top: 19px;
    padding-bottom: 111px;
    background-color: transparent;
    background-image: url("../img/iphone-6-copy.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 887px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-6-copy@2x.png");
    }
  }

  .banner__button {
    width: 300px;
    margin-bottom: 46px;
  }

  .banner__text {
    width: 300px;
    font-size: 18px;
  }

  .banner__list {
    margin-bottom: 35px;
    padding: 0 48px 0 46px;
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .banner {
    padding-top: 209px;
    justify-content: center;
    background-image: url("../img/back-desktop.png");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 2560px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/back-desktop@2x.png");
    }


    &__app {
      padding-top: 0;
      padding-bottom: 0;
      background-image: none;
    }

    &__slogan {
      margin-left: 31px;
      margin-bottom: 53px;
      width: 240px;
      font-size: 50px;
      line-height: 59px;
    }

    &__button {
      margin-bottom: 67px;
      font-size: 21px;
    }

    &__list {
      margin-bottom: 55px;
    }

    .container {
      padding-top: 12px;
      padding-bottom: 122px;
      background-image: url("../img/iphone-6.png");
      background-position: right top;
      background-repeat: no-repeat;
      background-size: 1050px auto;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/iphone-6@2x.png");
      }
    }
  }
}
