.comments {
  padding-top: 42px;
  background-color: @color-back-white;
  text-align: center;

  &__button {
    display: none;
  }

  &__choice {
    margin: 0 auto;
    width: 59px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

.comments__list {
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
  list-style: none;
}

.comments__item {
  display: flex;
  flex-wrap: wrap;

  blockquote {
    order: 1;
    margin: 0;
    line-height: 30px;
  }
}

.comments__item-footer {
  width: 100%;
  text-align: center;
}

.comments__author {
  margin: 0;
  margin-bottom: 13px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: @color-black-font;
}

.comments__about-author {
  display: none;
  margin: 0;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .comments {
    padding-top: 47px;

    &__about-author {
      display: inline-block;
    }

    &__list {
      margin-bottom: 35px;
    }
  }

  .comments__item {
    blockquote {
      order: -1;
      margin-bottom: 34px;
      font-size: 18px;
    }
  }

  .comments__author {
    margin-bottom: 2px;
    font-size: 20px;
  }
}

//////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @desktop-width) {
  .comments {
    .container {
      position: relative;
      padding-top: 138px;

      &::before {
        content: "";
        position: absolute;
        top: 25px;
        left: 563px;
        width: 79px;
        height: 63px;
        background-image: url("../img/quotes-svg.svg");
        background-repeat: no-repeat;
        background-size: 79px 63px;
      }
    }

    &__list {
      margin-bottom: 0;
    }

    &__item {
      //position: relative;
      padding: 0 120px;
      //width: 690px;
      //margin: 0 auto;
    }

    &__choice {
      display: none;
    }

    &__author {
      margin-bottom: 4px;
      font-size: 24px;
    }

    &__about-author {
      display: block;
      //margin-bottom: 40px;
      margin-bottom: 0;
      font-size: 18px;
    }
  }

  .comments__button {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    width: 22px;
    height: 41px;
    background-color: transparent;
    border: none;
    opacity: 0.3;
    background-image: url("../img/left-arrow-svg.svg");
    background-size: 22px 41px;
    background-repeat: no-repeat;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.1;
    }

    &--back {
      left: 130px;
    }

    &--next {
      right: 130px;
      transform: rotate(180deg);
    }
  }
}
