.inner-page-main__back {
  margin-top: -65px;
  padding: 94px 0 81px;
  width: 100%;
  background-color: @color-dark-font;
  background-image: url("../img/back-mobile-jpg.png");
  background-repeat: no-repeat;
  background-position: center top;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/back-mobile-jpg@2x.png");
    background-size: 320px auto;
  }
}

.inner-page-main__title {
  margin: 0 auto;
  width: 200px;
  //margin-top: 30px;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @color-back-white;
  //background-color: @color-back-header;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .inner-page-main {
    &__back {
      margin-top: -110px;
      padding: 181px 0 140px;
      background-image: url("../img/back-tablet-1-x.png");
      background-repeat: no-repeat;
      background-position: center top;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/back-tablet-1-x@2x.png");
        background-size: 1200px auto;
      }
    }

    &__title {
      width: 360px;
      font-size: 50px;
      line-height: 59px;
      text-align: center;
    }
  }
}

@media (min-width: @desktop-width) {
  .inner-page-main {
    &__back {
      padding: 175px 0 101px;
      //margin-top: 0;
      background-image: url("../img/back-desktop.png");
      background-repeat: no-repeat;
      background-position: center top;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/back-desktop@2x.png");
        background-size: 2560px auto;
      }

      //padding-top: 185px;
    }
  }
}
