.page-footer {
  background-color: @color-back-white;

  .container {
    padding-top: 40px;
    padding-bottom: 41px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  &__developed {
    margin-right: 15px;
    line-height: 18px;
    color: @color-dark-font;
  }

  .logo-glasses {
    fill: @color-pink;
  }

  .logo-pink {
    fill: @color-dark-font;
  }

  .red-star {
    fill: @color-pink;
  }

  .other-stars {
    fill: @color-dark-font;
  }
}

.page-footer__logo {
  margin-bottom: 40px;
  display: block;
  width: 147px;
  height: 40px;

  svg {
    width: 147px;
    height: 40px;
  }

  &:hover .logo-pink,
  &:focus .logo-pink {
    fill: @color-pink;
  }

  &:active .logo-glasses,
  &:active .logo-pink {
    opacity: 0.3;
  }

  &:active .logo-pink {
    fill: @color-dark-font;
  }
}

.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


  &-link {
    display: block;
    width: 27px;
    height: 34px;

    svg {
      width: 27px;
      height: 34px;
      fill: @color-pink;
    }

    &:hover svg,
    &:focus svg {
      fill: @color-dark-font;
    }

    &:active svg {
      fill: @color-back-header;
    }
  }
}

//////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @tablet-width) {
  .page-footer {
    .container {
      padding-top: 36px;
      padding-bottom: 40px;
      flex-direction: row;
      justify-content: space-between;
    }

    &__copyright {
      padding-top: 12px;
      width: 160px;
      text-align: right;
      justify-content: flex-end;
    }
  }

  .page-footer__logo {
    margin-bottom: 0;
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @desktop-width) {
  .page-footer {
    .container {
      padding-top: 70px;
      padding-bottom: 71px;
    }

    &__developed {
      font-size: 18px;
    }
  }
}
