.tariffs {
  padding: 133px 0 48px 0;
  background-color: @color-back-grey;
  background-image: linear-gradient(176deg, white 13%, @color-back-grey 13%);
}

.tariffs__wrapper {
  overflow-x: hidden;
  margin: 0 auto;
  width: 320px;
}

.tariffs__table {
  // border-collapse: collapse;
  margin-bottom: 41px;
  border-spacing: 0;
  table-layout: fixed;
  text-transform: uppercase;
  transform: translateX(-278px) translateX(20px);
}

tbody td {
  position: relative;
  box-sizing: border-box;
  min-width: 278px;
  padding: 16px 50px 13px 22px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
}

.top {
  // border-top-width: 2px;
  border-top: none;
}

.bottom {
  border-bottom-width: 2px;
}

.left {
  display: none;
}

.right {
  border-right-width: 2px;
}

.tariffs__option {
  position: relative;
  line-height: 30px;

  &::after {
    content: "";
    position: absolute;
  }

  &--on {
    &::after {
      top: 20px;
      right: 15px;
      width: 31px;
      height: 21px;
      //background-color: #2aab6d;

      background-image: url("../img/yes-svg.svg");
      background-repeat: no-repeat;
      background-size: 31px 21px;
    }
  }

  &--of {
    &::after {
      top: 15px;
      right: 17px;
      width: 27px;
      height: 26px;
      //background-color: #d22856;

      background-image: url("../img/no-svg.svg");
      background-repeat: no-repeat;
      background-size: 27px 26px;
    }
  }
}

.tariffs__caption {
  position: relative;
  padding-top: 16px;
  padding-bottom: 18px;
  border: 1px solid #e5e5e5;
  border-right: none;
  border-top: none;
  border-bottom: none;
  overflow: hidden;
  text-align: center;
  color: @color-back-grey;
  background-color: @color-dark-font;

  &:nth-child(2) {
    border-left: none;
  }

  &:last-child {
    border-right: 2px solid @color-dark-font;
  }

  &:first-child {
    background-color: transparent;
    border: none;
    border-right: 1px solid @color-dark-font;
    border-bottom: 2px solid #e5e5e5;
  }

  &--empty {
    background-color: transparent;
    border: none;
    border-right: 1px solid @color-dark-font;
    border-bottom: 2px solid #e5e5e5;
  }

  &--hit::before {
    content: "ХИТ";
    position: absolute;
    top: 0;
    left: -102px;
    padding-right: 35px;
    width: 100%;
    //height: 60px;
    z-index: 10;
    font-family: "OpenSansdRegular", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    background-color: #d22856;
    //background-image: url("../img/new-flag.png");
    background-position: left top;
    background-repeat: no-repeat;
    transform: rotate(-45deg);
  }
}

.tariffs__name {
  margin: 0;
  display: block;

  margin-bottom: 3px;
  font-family: "OpenSansBold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.tariffs__price {
  margin: 0;
  display: block;
  font-family: "OpenSansLight", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  font-style: normal;
}

.tariffs__choice {
  margin: 0 auto;
  width: 57px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @tablet-width) and (max-width: 1199px) {
  .tariffs__caption {
    padding: 12px 0 11px;

    &--hit::before {
      top: -2px;
      left: -50px;
      //width: 100%;
      //height: 60px;
      font-size: 15px;
      //font-weight: 700;
      line-height: 28px;
      padding-right: 20px;
      //background-image: url("../img/new-flag.png");
      //background-position: left top;
    }
  }

  .left {
    padding: 7px 15px 8px;
  }

  .tariffs__name {
    margin-bottom: 0;
    font-size: 16px;
    //text-transform: uppercase;
  }

  .tariffs__price {
    font-size: 18px;
    line-height: 26px;
  }
}
/////////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @tablet-width) {
  .tariffs {
    width: 100%;
    margin-top: 5px;
    padding-top: 105px;
    padding-bottom: 27px;
    background-image: linear-gradient(176deg, @color-back-white 15%, @color-back-grey 15%);
  }

  .tariffs__wrapper {
    overflow: visible;
    width: 660px;
    padding: 0 20px;
  }

  .tariffs__table {
    transform: none;

    td {
      min-width: 155px;
      max-width: 156px;
    }

    span {
      display: none;
    }
  }

  .tariffs__option {
    text-transform: none;

    &--on::after {
      top: 12px;
      left: 61px;
    }

    &--of::after {
      top: 8px;
      left: 62px;
    }
  }

  .left {
    //padding: 8px 15px 7px;
    display: table-cell;
    border-left-width: 2px;
  }

  .tariffs__caption {
    overflow: hidden;

    &--hit::before {
      //top: -2px;
      //left: -50px;
      //width: 100%;
      //height: 60px;
      font-size: 15px;
      font-weight: 700;
      line-height: 28px;
      //padding-right: 20px;
      //background-image: url("../img/new-flag.png");
      //background-position: left top;
    }
  }

  .tariffs__choice {
    display: none;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////////
@media (min-width: @desktop-width) {
  .tariffs {
    padding-top: 184px;
    padding-bottom: 55px;
    background-image: linear-gradient(176deg, @color-back-white 19%, @color-back-grey 19%);

    &__wrapper {
      padding: 0;
      width: 940px;
    }
  }

  .tariffs-table__title {
    padding: 17px;

    &--popular::after {
      top: 0;
      left: 0;

      width: 74px;
      height: 73px;

      background-image: url("../img/bg-hit.svg");
      background-size: 74px 73px;
    }

    &--popular::before {
      top: 12px;
      left: 4px;
    }
  }

  .tariffs__caption {
    margin-bottom: 2px;
    font-size: 18px;

    &--hit::before {
      top: 0;
      left: -81px;
    }
  }

  .tariffs__price {
    //font-size: 24px;
    //line-height: 30px;
  }

  .tariffs__name {
    //font-size: 18px;
  }

  .tariffs__option {
    font-size: 18px;

    &--on::after {
      top: 23px;
      left: 100px;
    }

    &--of::after {
      top: 17px;
      left: 103px;
    }
  }

  .tariffs-table__cell {
    padding: 14px 21px 15px 21px;

    font-size: 18px;
  }

  .tariffs__table td {
    min-width: 235px;
    max-width: 236px;
  }
}
